
<footer class="site-footer">
  
  <div class="container">

    <div class="column33 column1">
      <p class="titulo">
        ¿QUÉ QUEREMOS?
      </p>
      <p>Queremos que sea fácil resolver tus inquietudes, sugerencias y necesidades si tienes preguntas o dudas sobre los productos, estamos listos para resolverlas.</p>
          <p>Puede encontrarnos tambien en nuestras redes sociales.</p>
    </div>
  
    <div class="column33 medio">
      <p class="titulo">
        SÍGUENOS EN REDES
      </p>
      <div class="icono facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div class="icono instagram">
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="icono youtube">
        <i class="fa-brands fa-youtube"></i>
      </div>
      <div class="icono tiktok">
        <i class="fa-brands fa-tiktok"></i>
      </div>
    </div>
  
    <div class="column33">
      <div class="center">
        <p class="titulo">DIAS Y HORAS DE TRABAJO</p>
        <p>Lunes a Viernes:</p>
        <p>8:30 - 12:00</p>
        <p>14:30 - 18:30</p>
        <br><br>
        <p class="titulo direccion">NUESTRA DIRECCIÓN</p>
        <p>Oficina Central:  Aniceto Arce #380 frente a la facultad de Medicina UMSS</p>
        <p>Telf.: Of.: (+591) 4534479 - Cel.: 72744922</p>
      </div>
    </div>

  </div>

</footer>