.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linea001 {
  margin-top: 5%;
  width: 80%;
  margin: 0 10%;
}

iframe{
  width: 100%;
  padding: 3px;
  margin-top: 15px;
  background-color: #98989898;
  margin-bottom: 45px;
}

.titulo{
  color: #000;
  font-family: 'Englebert';
  font-size: 40px;
  margin-top: 40px;
  letter-spacing: 0.5mm;
}
.resaltado{
  color: #FAD64C;
  border-bottom: 8px solid #FAD64C;
}

/*Lineas*/
.linea{
  background-color: #fbd606;
  width: 28%;
  margin: 0%;
  height: 4px;
}
.linea2{
  background-color: #fbd606;
  width: 14%;
  margin: 0%;
  height: 3px;
}
/* Fin lineas  */

.column40{
  width: 45%;
  margin: 25px;
  float: left;
}

.column40 .title{
  letter-spacing: 0.5mm;
  font-family: 'Englebert';
  font-size: 35px;
  font-weight: 600;
  border-bottom: 5px solid #fbd606;
}

.izq p{
  margin-bottom: 12px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.izq p i{
  margin: 3px;
}

/* .linea-a{
  background-color: #fbd606;
  width: 71%;
  height: 3px;
}
.linea2-a{
  background-color: #fbd606;
  width: 28%;
  margin: 0%;
  height: 3px;
}
.linea-b{
  background-color: #fbd606;
  width: 70%;
  margin: 0%;
  height: 3px;
}
.linea2-b{
  background-color: #fbd606;
  width: 31%;
  height: 3px;
} */
/*fin  lineas*/

/*inicio FORMULARIO*/

form{
  border: 2px solid transparent;
  height: 380px;
}
.txtbox{
  width: 97%;
  padding: 5px;
  margin-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: transparent;
  border: 3px solid #333333;
}
textarea{
  padding: 5px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.space-top{
  margin-top: 15px;
}
.text-danger{
  color: #aa0c0c;
}
.btn{
  background-color: #FFCA00;
  padding: 7px 15px 7px 15px;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  font-family: 'Englebert';
  font-weight: 500;
  text-align: center;
  width: 100%;
  color: #fff;
  border-radius: 10px;
}
.btn:hover{
  background-color: transparent;
  border: 2px solid #fbca06;
  color: #fbca06;
}
/* Fin formulario */


/* VALIDACIONES */

.btn-invalid{
  background-color: #c5c6a3;
  color: #ededed;
  font-weight: 800;
}
.btn-invalid:hover{
  background-color: transparent;
  border: 2px solid #c5c6a3;
  color: #c5c6a3;
}

.error {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  position: fixed;
  width: 20%;
  font-weight: 200;
  margin: 0 -5%;
  top: 15%;
  padding: 15px;
  background-color: rgb(55, 55, 55);
  color: #fff;
}



/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */

  
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){      

  .column40{
    width: 45%;
    margin: 20px;
    float: left;
  }
  .column40 .title{
    font-size: 31px;
    border-bottom: 5px solid #fbd606;
  }
  
  /*Lineas*/
.linea{
  background-color: #fbd606;
  width: 40%;
  margin: 0%;
  height: 4px;
}
.linea2{
  background-color: #fbd606;
  width: 14%;
  margin: 0%;
  height: 3px;
}
/* Fin lineas  */

}
  
/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
 
  .column40{
    width: 45%;
    margin: 10px;
    float: left;
  }
  .column40 .title{
    font-size: 22px;
    border-bottom: 5px solid #fbd606;
  }

  /*Lineas*/
.linea{
  background-color: #fbd606;
  width: 55%;
  height: 4px;
}
.linea2{
  background-color: #fbd606;
  width: 14%;
  margin: 0%;
  height: 3px;
}
/* Fin lineas  */


}
  
/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
   
.linea001 {
  margin-top: 0%;
  width: 90%;
  margin: 0 5%;
  float: none;
}

/*Lineas*/
.linea{
  width: 45%;
}
.linea2{
  width: 14%;
}
/* Fin lineas  */


.titulo{
  letter-spacing: 0.5mm;
  font-size: 30px;
  margin-top: 10px;
}
.resaltado{
  letter-spacing: 0.5mm;
  color: #FAD64C;
}
form h3{
  font-family: 'Englebert';
  font-size: 22px;
  margin-bottom: -2px;
  background-color: #000000;
  border-bottom: 4px solid #FAD64C;
}

iframe{
  margin-bottom: 20px;
}

.column40{
  width: 100%;
  float: none;
}

.izq p{
  margin-bottom: 10px;
  font-size: 13px;
}
.izq p i{
  margin: 3px;
}

form{
  width: 94%;
}
}
  
/* Teléfonos */
@media only screen and (min-width: 400px) and (max-width: 575px){
  
  
.linea001 {
  margin-top: 0%;
  width: 90%;
  margin: 0 5%;
  float: none;
}

/*Lineas*/
.linea{
  width: 65%;
}
.linea2{
  width: 14%;
}
/* Fin lineas  */


.titulo{
  letter-spacing: 0.5mm;
  font-size: 30px;
  margin-top: 10px;
}
.resaltado{
  letter-spacing: 0.5mm;
  color: #FAD64C;
}
.column40 .title{
  font-size: 28px;
}

iframe{
  margin-bottom: 20px;
  height: 350px;
}

.column40{
  width: 100%;
  float: none;
  margin-left: 0px;
}

.izq p{
  margin-bottom: 10px;
  font-size: 12px;
}
.izq p i{
  margin: 3px;
}

form{
  width: 92%;
}

}

/* Teléfonos thin */
@media only screen and (min-width: 320px) and (max-width: 399px){
  .linea001 {
    margin-top: 0%;
    width: 90%;
    margin: 0 5%;
    float: none;
  }
  
  /*Lineas*/
  .linea{
    width: 70%;
  }
  .linea2{
    width: 15%;
  }
  /* Fin lineas  */
  
  
  .titulo{
    letter-spacing: 0.5mm;
    font-size: 28px;
    margin-top: 10px;
  }
  .resaltado{
    letter-spacing: 0.5mm;
    color: #FAD64C;
  }
  .column40 .title{
    font-size: 24px;
  }
  
  iframe{
    margin-bottom: 20px;
    height: 200px;
  }
  
  .column40{
    width: 100%;
    float: none;
    margin-left: 0px;
  }
  
  .izq p{
    margin-bottom: 10px;
    font-size: 12px;
  }
  .izq p i{
    margin: 3px;
  }
  
  form{
    width: 92%;
  }

}