<div class="container">

  
  <div class="contenido-img">

    <div class="contenidoBuscar">
        <div class="buscador">
          <input
          type="text"
          placeholder="Buscar..."
          id="search"
          #buscarTexto
          (keyup.enter) = 'buscarLibro(buscarTexto.value)'
          class="buscar"
          >
        </div>

        <div class="buscadorverde">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>


    <input type="radio" id="i1" name="images" checked />
    <input type="radio" id="i2" name="images" />
    <input type="radio" id="i3" name="images" />
    <input type="radio" id="i4" name="images" />
    <input type="radio" id="i5" name="images" />	

    <div class="slide_img" id="one">			
      
      <img src="./../../../assets/img/navbar/invitacion-01.jpg">
      <div class="encab">
          <p class="encabezado">"LA ESCRITURA ES LA</p>
          <p class="encabezado encabezadoverde">PINTURA DE LA VOZ"</p>
      </div>
        <label class="prev" for="i5"><span>&#x2039;</span></label>
        <label class="next" for="i2"><span>&#x203a;</span></label>	

    </div>

    <div class="slide_img" id="two">

      <img src="../../../assets/img/navbar/estudiante.jpg" >
      
        <label class="prev" for="i1"><span>&#x2039;</span></label>
        <label class="next" for="i3"><span>&#x203a;</span></label>

    </div>
      

    <div class="slide_img" id="three">
      <img src="./../../../assets/img/navbar/estudiantes 1.jpg">	
      
        <label class="prev" for="i2"><span>&#x2039;</span></label>
        <label class="next" for="i4"><span>&#x203a;</span></label>
    </div>

    <div class="slide_img" id="four">
      <img src="../../../assets/img/navbar/estudiante.jpg">	
      
        <label class="prev" for="i3"><span>&#x2039;</span></label>
        <label class="next" for="i5"><span>&#x203a;</span></label>
    </div>

    <div class="slide_img" id="five">
      <img src="./../../../assets/img/navbar/estudiantes 1.jpg">	
      
        <label class="prev" for="i4"><span>&#x2039;</span></label>
        <label class="next" for="i1"><span>&#x203a;</span></label>

    </div>

    <div id="nav_slide">
    <label for="i1" class="dots" id="dot1"></label>
    <label for="i2" class="dots" id="dot2"></label>
    <label for="i3" class="dots" id="dot3"></label>
    <label for="i4" class="dots" id="dot4"></label>
    <label for="i5" class="dots" id="dot5"></label>
    </div>

</div>



  <div class="columnas8020">

    <div class="filtros">
      <div class="filtro-1">
        <span class="titulo">CATEGORÍAS</span>
        <br>
        <div class="lista">
          <p *ngFor="let item of readCategoria">{{ item.categoria }}</p>
        </div>
      </div>
        <br><br>
      <div class="filtro-2">
        <span class="titulo">FORMATO</span>
        <div class="lista">
          <p *ngFor="let item of formato">- {{ item.formato }}</p>
        </div>
      </div>
      <br><br>
      <div class="filtro-2">
        <span class="titulo">AUTORES</span>
        <div class="lista">
          <p *ngFor="let item of formato">- {{ item.formato }}</p>
        </div>
      </div>
    </div>

    <div class="derecha">
      <br><br>
      <span class="titulo"><span class="resaltado">BUSCA</span> TU LIBRO FAVORITO</span>
      <br><br><br>


<div class="first">
  
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img src="../../../assets/img/libros/book1.jpg" alt="">
                </div>
              </div>
              <div class="title">
                El espía del Inca"
              </div>
              <div class="autor">
                Rafael Dumett
              </div>
              <div class="money">
                150 Bs
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img src="../../../assets/img/libros/book2.jpg" alt="">
                </div>
              </div>
              <div class="title">
                Como piensan los "indios"
              </div>
              <div class="autor">
                Gonzalo Lamana
              </div>
              <div class="money">
                150 Bs
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img src="../../../assets/img/libros/book3.jpg" alt="">
                </div>
              </div>
              <div class="title">
                De Túpac Amaru a Gamarra
              </div>
              <div class="autor">
                Charles Walker
              </div>
              <div class="money">
                200 Bs
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img src="../../../assets/img/libros/book4.webp" alt="">
                </div>
              </div>
              <div class="title">
                Leyendas de América Latina
              </div>
              <div class="autor">
                Fernando Martines Ruppel
              </div>
              <div class="money">
                350 Bs
              </div>
            </div>
            <div class="book">
              <div class="caja">
                <div class="box">
                  <img src="../../../assets/img/libros/book6.jpg" alt="">
                </div>
              </div>
              <div class="title">
                De Cuando En Cuando Saturnina
              </div>
              <div class="autor">
                Spedding
              </div>
              <div class="money">
                70 Bs
              </div>
            </div>
</div>

      <div class="sub">
        <br><br>
        <span>CATEGORÍAS</span>
      </div>

      <div class="second">

        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book1.jpg" alt="">
            </div>
          </div>

          <div class="title">
            Historia
          </div>

        </div>
        
        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book1.jpg" alt="">
            </div>
          </div>

          <div class="title">
            Cómics
          </div>

        </div>
        
        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book1.jpg" alt="">
            </div>
          </div>

          <div class="title">
            Educativos
          </div>

        </div>
        
        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book1.jpg" alt="">
            </div>
          </div>

          <div class="title">
            Literatura y Ficción
          </div>

        </div>
        
        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book1.jpg" alt="">
            </div>
          </div>

          <div class="title">
            Terror
          </div>

        </div>

      </div>

      <div class="third">
        <div class="sub">
          <br><br>
          <span>LOS MÁS VENDIDOS</span>
        </div>
        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book1.jpg" alt="">
            </div>
          </div>

          <div class="title">
            El espía del Inca"
          </div>

          <div class="autor">
            Rafael Dumett
          </div>

          <div class="money">
            150 Bs
          </div>
        </div>

        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book2.jpg" alt="">
            </div>
          </div>

          <div class="title">
            Como piensan los "indios"
          </div>

          <div class="autor">
            Gonzalo Lamana
          </div>

          <div class="money">
            150 Bs
          </div>
        </div>

        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book3.jpg" alt="">
            </div>
          </div>

          <div class="title">
            De Túpac Amaru a Gamarra
          </div>

          <div class="autor">
            Charles Walker
          </div>

          <div class="money">
            200 Bs
          </div>
        </div>

        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book4.webp" alt="">
            </div>
          </div>

          <div class="title">
            Leyendas de América Latina
          </div>

          <div class="autor">
            Fernando Martines Ruppel
          </div>

          <div class="money">
            350 Bs
          </div>
        </div>

        <div class="book">
          <div class="caja">
            <div class="box">
              <img src="../../../assets/img/libros/book6.jpg" alt="">
            </div>
          </div>

          <div class="title">
            De Cuando En Cuando Saturnina
          </div>

          <div class="autor">
            Spedding
          </div>

          <div class="money">
            70 Bs
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

<br><br><br>