

.container{
  margin-top: 9%;
  width: 100%;
  display: flex;
  flex-direction: column; }
.contenido-img{margin-bottom: 33%;}

.columnas8020{ display: flex;}

.filtros{
  background-color: #D9D9D9;
  width: 16%;
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
}
.filtros .filtro-1 .titulo{ font-weight: 900; height: 50px; font-size: 18px;}
.lista{margin-top: 15px;}
.lista p{ margin-bottom:5px; font-size: 12px;}

.container{
  margin-top: 9%;
  width: 100%;
}

/* ENGLEBERT */

#i1, #i2, #i3, #i4, #i5{ display: none;}



/*-------------------BUSCADOR INICIO-----------------------*/
/*---------------------------------------------------------*/
.contenidoBuscar{
  width: 40%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;
  margin: 0 30%;
}

.buscar{
  padding: 15px;
  position: absolute;
  z-index: 100;
  margin-top: 33px;
  background-color: #EEEEEE;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 88%;
  font-size: 18px;
  border: none;
}

.buscadorverde{
  background-color: #439F41;
  width: 100%;
  border-radius: 12px;
  z-index: 80;
  height: 38px;
  margin-left: 0 30%;
  text-align: right;
  margin-top: 33px;
  color: #fff;
  font-size: 25px;
  padding-right: 17px;
  padding-top: 13px;
}
/*-------------------BUSCADOR FIN-----------------------*/
/*------------------------------------------------------*/




/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
		position: relative;
		width: 100%;
    /* margin-bottom: 32%; */
	  /* user-select: none; */
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


.derecha{
  /* background-color: rgb(253, 234, 234); */
}

.derecha .titulo{
  /* background-color: rgb(255, 202, 202); */
  font-size: 35px;
  margin-left: 45px;
  font-weight: 700;
  border-bottom: 4px solid #fbd606;
  letter-spacing: 0.5mm;
  font-family: 'Englebert';
}

.resaltado{
  /* background-color: rgb(255, 177, 177); */
  color: #fbd606;
  border-bottom: 8px solid #fbd606;
}

.first{
  /* border: 10px solid red; */
  height: 350px;
  padding-left: 25px;
}

.second{
  /* border: 3px solid red; */
  height: 310px; 
  padding-left: 25px;
}

.third{
  padding-left: 25px;
}
.book{
  /* border: 1px solid orange; */
}
.caja{
  display: flex;
  /* background-color: #fbd606; */
  justify-content: center;
	width: 200px;
}
.box{
	/* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  width: 300px;
  height: 260px;
	margin: 8px;
  background: #CCC;
}

.box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


/* CATEGORIAS */
.sub{
  text-align: center;
  margin-top: 10px;
}
.sub span{
  /* background-color: burlywood; */
  text-align: center;
  font-family: 'Englebert';
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 0.3mm;
}



.lista-libros{
  background-color: red;
}
.book{ width: 18%; margin: 10px; float: left;}
.book .title {text-align: center; font-family: 'Roboto Serif', serif; font-size: 15px; margin-bottom: 4px;}
.book .autor{color: #6A6A6A; font-family: 'Roboto Serif', serif; text-align: center;font-size: 14px; margin-bottom: 4px;}
.book .money{font-family: 'Jost', sans-serif; text-align: center; color: #FF0000; font-weight: bolder; }

















/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

  .contenido-img{
    margin-top: -0.5%;
  }

  .contenidoBuscar{
    width: 40%;
    position: absolute;
    z-index: 100;
    margin-top: 0%;
    margin: 0 35%;
  }
  
  .buscar{
    padding: 12px;
    width: 85%;
    border: none;
  }
  
  .buscadorverde{
    padding-right: 12px;
    padding-top: 7px;
    height: 37.5px;
  }

  .encabezado{
    font-size: 38px;
  }
  
.text{
  padding: 25px 25px 0px 10px;
  font-size: 12px;
  width: 50%;
}

.imagen {
  width: 45%;
  margin-bottom: 0%;
  margin-top: 55px;
}

.imagen img{
  width: 100%;
}
.intro{
  width: 80%;
  margin: 0 10%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 80%;
  margin: 0 10%;
  padding: 10px;
}


div.item {
  margin: 10px 2%;
  min-width: 180px;
  max-width: 240px;
  width: 50%;
}

div.item img {
  height: 200px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 890px) and (max-width: 991px){
  .contenidoBuscar{
    width: 40%;
    position: absolute;
    z-index: 100;
    margin-top: 0%;
    margin: 0 30%;
  }
  
  .buscar{
    padding: 9px;
    width: 88%;
    border: none;
    margin-top: 3%;
  }
  
  .buscadorverde{
    padding-right: 18px;
    padding-top: 7px;
    height: 31.5px;
    font-size: 22px;
    margin-top: 3%;
  }

  .prev, .next{
    margin-top: 90px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 28px;
  }
  
.text{
  padding: 10px 25px 0px 0px;
  font-size: 11px;
  width: 50%;
}

.imagen {
  width: 45%;
  margin-bottom: 0%;
  margin-top: 75px;
}

.imagen img{
  width: 100%;
}
.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 20px 10px 10px 10px;
}


div.item {
  margin: 10px 2%;
  min-width: 120px;
  max-width: 190px;
  width: 50%;
}

div.item img {
  height: 150px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 889px){
  .contenidoBuscar{
    width: 40%;
    position: absolute;
    z-index: 100;
    margin-top: 0%;
    margin: 0 30%;
  }
  
  .buscar{
    padding: 9px;
    width: 82%;
    border: none;
    font-size: 14px;
    margin-top: 3%;
  }
  
  .buscadorverde{
    padding-right: 18px;
    padding-top: 7px;
    height: 28px;
    font-size: 20px;
    margin-top: 3%;
  }

  .prev, .next{
    margin-top: 90px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 28px;
  }
  
.text{
  padding: 10px 25px 0px 0px;
  font-size: 11px;
  width: 50%;
}

.imagen {
  width: 45%;
  margin-bottom: 0%;
  margin-top: 75px;
}

.imagen img{
  width: 100%;
}
.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 20px 10px 10px 10px;
}


div.item {
  margin: 10px 2%;
  min-width: 120px;
  max-width: 190px;
  width: 50%;
}

div.item img {
  height: 150px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

  .contenidoBuscar{
    width: 60%;
    margin: 1% 15%;
  }

  .buscar{
    padding: 7px;
    width: 90%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    margin-top: 3%;
  }
  
  .buscadorverde{
    padding-right: 18px;
    padding-top: 8px;
    height: 26.5px;
    font-size: 20px;
    margin-top: 3%;
  }

  .prev, .next{
    margin-top: 70px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 22px;
    margin-left: 15%;
  }

  .column50 {
    margin-top: 5%;
    float: none;
    margin-bottom: 2.7%;
  }
  

.text{
  padding: 10px 10px 25px 0px;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #00000040;
  width: 100%;
}

.imagen {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 0%;
  margin-top: 40px;
}

.imagen img{
  width: 100%;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 20px 10px 10px 10px;
}

.amigos h1{
  font-size: 30px;
  margin-bottom: 1px;
}

.linea-a{
  background-color: #fbd606;
  width: 43%;
  margin: 0%;
  height: 3px;
}
.linea2-a{
  background-color: #fbd606;
  width: 25%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 3px;
  margin-bottom: 3%;
}

div.item {
  margin: 10px 1%;
  min-width: 90px;
  max-width: 155px;
  width: 50%;
}

div.item img {
  height: 125px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Teléfonos */
@media only screen and (min-width: 350px) and (max-width: 580px){

  .contenidoBuscar{
    width: 40%;
    margin: 2.5% 52%;
  }

  .buscar, .buscadorverde{
    margin-top: -35%;
  }

  .buscar{
    padding: 5px 5px 6px 15px;
    width: 72%;
    font-size: 12px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .buscadorverde{
    padding-right: 12px;
    padding-top: 6px;
    height: 18px;
    font-size: 12px;
  }

  .prev, .next{
    margin-top: 40px;
	}
	.next{right: 30px;}
	label span{
		font-size: 50pt;
	}

  .encabezado{
    font-size: 20px;
    margin-left: 15%;
  }
  .encab{
    margin-top: -3%;
  }
  .column50 {
    margin-top: 4%;
    float: none;
    margin-bottom: 3%;
  }
  .encabezadoverde{
  padding-top: 7px;
  }

.text{
  padding: 10px 10px 25px 0px;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #00000040;
  width: 100%;
}

.imagen {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 0%;
  margin-top: 40px;
}

.imagen img{
  width: 100%;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 40px 10px 10px 10px;
}

.amigos .title{
  font-size: 30px;
  margin-left: 12px;
  margin-bottom: 1px;
}

.containr{
  margin-top: 15px;
}

div.item {
  margin: 10px 5%;
  min-width: 270px;
  max-width: 355px;
  width: 50%;
}

div.item img {
  height: 205px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}


#nav_slide .dots{
	width: 12px;
	height: 12px;
}


}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 349px){

  .contenidoBuscar{
    width: 40%;
    margin: 0% 52%;
  }

  .buscar, .buscadorverde{
    margin-top: -38%;
  }

  .buscar{
    padding: 5px 5px 5px 15px;
    width: 72%;
    font-size: 11px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .buscadorverde{
    padding-right: 8px;
    padding-top: 5px;
    height: 17px;
    font-size: 12px;
  }

  .prev, .next{
    margin-top: 35px;
	}
	.next{right:40px;}
	label span{
		font-size: 45pt;
	}

  .encabezado{
    font-size: 20px;
    margin-left: 15%;
  }
  .encab{
    margin-top: -3%;
  }
  .column50 {
    margin-top: 4%;
    float: none;
    margin-bottom: 3%;
  }
  .encabezadoverde{
  padding-top: 7px;
  }

.text{
  padding: 10px 10px 25px 0px;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #00000040;
  width: 100%;
}

.imagen {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 0%;
  margin-top: 40px;
}

.imagen img{
  width: 100%;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 40px 10px 10px 10px;
}

.amigos h1{
  font-size: 30px;
  margin-bottom: 1px;
}


.containr{
  margin-top: 15px;
}


div.item {
  margin: 10px 1%;
  min-width: 250px;
  max-width: 355px;
  width: 50%;
}

div.item img {
  height: 205px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}


#nav_slide .dots{
	width: 12px;
	height: 12px;
}


}
