<div class="container">
  
    <div class="contenido-img">
  
      <div class="contenidoBuscar">
          <div class="buscador">
            <input
            type="text"
            placeholder="Buscar libro"
            class="buscar"
            >
          </div>
          <div class="buscadorverde">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
      </div>
  
      <input type="radio" id="i1" name="images" checked />
      <input type="radio" id="i2" name="images" />
      <input type="radio" id="i3" name="images" />
      <input type="radio" id="i4" name="images" />
      <input type="radio" id="i5" name="images" />
  
      <div class="slide_img" id="one">
  
        <img src="./../../../assets/img/navbar/invitacion-01.jpg">
        <div class="encab">
            <p class="encabezado">"LA ESCRITURA ES LA</p>
            <p class="encabezado encabezadoverde">PINTURA DE LA VOZ"</p>
        </div>
          <label class="prev" for="i5"><span>&#x2039;</span></label>
          <label class="next" for="i2"><span>&#x203a;</span></label>
  
      </div>
  
      <div class="slide_img" id="two">
  
        <img src="../../../assets/img/navbar/estudiante.jpg" >
  
          <label class="prev" for="i1"><span>&#x2039;</span></label>
          <label class="next" for="i3"><span>&#x203a;</span></label>
  
      </div>
  
  
      <div class="slide_img" id="three">
        <img src="./../../../assets/img/navbar/estudiantes 1.jpg">
  
          <label class="prev" for="i2"><span>&#x2039;</span></label>
          <label class="next" for="i4"><span>&#x203a;</span></label>
      </div>
  
      <div class="slide_img" id="four">
        <img src="../../../assets/img/navbar/estudiante.jpg">
  
          <label class="prev" for="i3"><span>&#x2039;</span></label>
          <label class="next" for="i5"><span>&#x203a;</span></label>
      </div>
  
      <div class="slide_img" id="five">
        <img src="./../../../assets/img/navbar/estudiantes 1.jpg">
  
          <label class="prev" for="i4"><span>&#x2039;</span></label>
          <label class="next" for="i1"><span>&#x203a;</span></label>
  
      </div>
  
      <div id="nav_slide">
      <label for="i1" class="dots" id="dot1"></label>
      <label for="i2" class="dots" id="dot2"></label>
      <label for="i3" class="dots" id="dot3"></label>
      <label for="i4" class="dots" id="dot4"></label>
      <label for="i5" class="dots" id="dot5"></label>
      </div>
  
    </div>


    <div class="titulo">
      <h1 class="title">
        <span class="resaltado">NUESTRAS</span>
        EDITORIALES
      </h1>
      <div class="linea"></div>
      <div class="linea2"></div>

    </div>


    <!-------------- PERFILES ---------------->
    <div class="perfiles">

        <div class="perfil" *ngFor="let element of ListaConFiltro">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>{{ element.nombre }}</p>
          </div>

          <button>+ Ver libros...</button>
        </div>

        <!-- <div class="perfil" >
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p></p>
          </div>

          <button>+ Ver libros...</button>
        </div> -->

        <!-- <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial El Cuervo</p>
          </div>

          <button>+ Ver libros...</button>
        </div>
        
        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial Itinerarios</p>
          </div>

          <button>+ Ver libros...</button>
        </div>
        
        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial Nuevo Milenio</p>
          </div>

          <button>+ Ver libros...</button>
        </div>

        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial Comunicarte S.R.L.</p>
          </div>

          <button>+ Ver libros...</button>
        </div>
        
        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial Cosmopolita</p>
          </div>

          <button>+ Ver libros...</button>
        </div>
        
        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial El Cuervo</p>
          </div>

          <button>+ Ver libros...</button>
        </div>
        
        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial Itinerarios</p>
          </div>

          <button>+ Ver libros...</button>
        </div>
        
        <div class="perfil">
          <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

          <div class="nombre">
            <p>Editorial Nuevo Milenio</p>
          </div>

          <button>+ Ver libros...</button>
        </div> -->

    </div>



</div>
