@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');


.container{
  margin-top: 9%;
  width: 100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand'); */
/* ENGLEBERT */

#i1, #i2, #i3, #i4, #i5{ display: none;}



/*-------------------BUSCADOR INICIO-----------------------*/
/*---------------------------------------------------------*/
.contenidoBuscar{
  width: 40%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;
  margin: 0 30%;
}

.buscar{
  padding: 15px;
  position: absolute;
  z-index: 100;
  margin-top: 33px;
  background-color: #EEEEEE;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 88%;
  font-size: 18px;
  border: none;
}

.buscadorverde{
  background-color: #439F41;
  width: 100%;
  border-radius: 12px;
  z-index: 80;
  height: 38px;
  margin-left: 0 30%;
  text-align: right;
  margin-top: 33px;
  color: #fff;
  font-size: 28px;
  padding-right: 17px;
  padding-top: 13px;
}
/*-------------------BUSCADOR FIN-----------------------*/
/*------------------------------------------------------*/




/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
		position: relative;
		width: 100%;
    /* margin-bottom: 32%; */
	  /* user-select: none; */
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

.contenido-img{
  margin-bottom: 33%;
}




/* TITULO */
.titulo{
  width: 31%;
  margin: 40px auto;
}

.resaltado{
  color: #FAD64C;
}

.title{
  font-family: 'Englebert';
  letter-spacing: 0.5mm;
  font-size: 45px;
  font-weight: 200;
  margin-bottom: 0px;
}

.linea{
  background-color: #fbd606;
  width: 97%;
  margin: 0%;
  height: 3px;
}
.linea2{
  background-color: #fbd606;
  width: 50%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 4px;
  margin-bottom: 3%;
}



/* ========================================== */
/* =============== PERFILES ================= */
/* ========================================== */
.perfiles{
  width: 85%;
  margin: 10px 9%;
  /* margin-bottom: 50px; */
}

.perfil{
  width: 16%;
  float: left;
  margin: 25px;
}
.perfil img{
  border-radius: 50%;
  width: 100%;
}
.perfil .nombre{
  font-size: 24px;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
}
.perfil button{
  background-color: transparent;
  border: none;
  font-size: 17px;
  color: #6A6A6A;
  font-family: 'Roboto Serif', serif;
  width: 64%;
  margin: 12px 15%;
}




/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1480px){
.contenidoBuscar{
  width: 40%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;
  margin: 0 40%;
}

.buscar{
  padding: 20px;
  width: 85%;
  border: none;
}

.buscadorverde{
  padding-right: 21px;
  padding-top: 10px;
}


.titulo{
  width: 26.6%;
  margin: 40px auto;
}

.title{
  font-size: 40px;
}


.perfiles{
  width: 85%;
  margin: 10px 9%;
  /* margin-bottom: 50px; */
}

.perfil{
  width: 15%;
}
.perfil .nombre{
  font-size: 21px;
}
.perfil button{
  font-size: 18px;
}


}


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
  .contenidoBuscar{
    width: 40%;
    position: absolute;
    z-index: 100;
    margin-top: 1%;
    margin: 0 40%;
  }
  
  .buscar{
    padding: 12px;
    width: 85%;
    border: none;
  }
  
  .buscadorverde{
    padding-right: 12px;
    padding-top: 7px;
    height: 33px;
  }

  .encabezado{
    font-size: 38px;
  }

  
  .prev, .next{
    margin-top: 140px;
	}
  .next{right:40px;}

  
.titulo{
  width: 33%;
  margin: 30px auto;
}

.title{
  font-size: 35px;
}



.perfiles{
  width: 90%;
  margin: 10px 5%;
  /* margin-bottom: 50px; */
}

.perfil{
  width: 14%;
  margin-bottom: 40px;
}
.perfil .nombre{
  font-size: 16px;
}
.perfil button{
  font-size: 12px;
}

  
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .contenidoBuscar{
    width: 40%;
    position: absolute;
    z-index: 100;
    margin-top: 0%;
    margin: 0 30%;
  }
  
  .buscar{
    padding: 9px;
    width: 80%;
    border: none;
    margin-top: 3%;
  }
  
  .buscadorverde{
    padding-right: 18px;
    padding-top: 5px;
    height: 28px;
    font-size: 22px;
    margin-top: 3%;
  }

  .prev, .next{
    margin-top: 90px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 28px;
  }

    
.titulo{
  width: 33%;
  margin: 30px auto;
}

.title{
  font-size: 25px;
}


.perfiles{
  width: 90%;
  margin: 0px 5%;
  /* margin-bottom: 50px; */
}

.perfil{
  width: 18%;
  float: left;
  margin: 20px;
  height: 200px;
}
.perfil .nombre{
  font-size: 15px;
}
.perfil button{
  font-size: 12px;
  width: 71%;
  margin: 12px 15%;
}

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  .contenidoBuscar{
    width: 60%;
    margin: 1% 15%;
  }

  .buscar{
    padding: 7px;
    width: 80%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    margin-top: 3%;
  }
  
  .buscadorverde{
    padding-right: 18px;
    padding-top: 5px;
    height: 25px;
    font-size: 22px;
    margin-top: 3%;
  }

  .prev, .next{
    margin-top: 70px;
	}
	.next{right:40px;}

  .encabezado{
    font-size: 22px;
    margin-left: 15%;
  }


  .titulo{
    width: 35%;
    margin: 30px auto;
  }
  
  .title{
    letter-spacing: 0.4mm;
    font-size: 21px;
    font-weight: 400;
  }
  
  .linea{
    height: 3px;
  }
  .linea2{
    border-top: none;
    height: 3px;
    margin-bottom: 0%;
  }
  

  .perfiles{
    width: 80%;
    margin: 0px 10%;
    /* margin-bottom: 50px; */
  }
  
  .perfil{
    width: 25%;
    float: left;
    margin: 20px;
    height: 180px;
  }
  .perfil .nombre{
    font-size: 15px;
  }
  .perfil button{
    font-size: 13px;
    width: 71%;
    margin: 12px 15%;
  }

  
}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 575px){

  .contenidoBuscar{
    width: 40%;
    margin: 1% 52%;
  }

  .buscar, .buscadorverde{
    margin-top: -33%;
  }

  .buscar{
    padding: 5px 5px 5px 15px;
    width: 70%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .buscadorverde{
    padding-right: 14px;
    padding-top: 4px;
    height: 22px;
    font-size: 17px;
  }

  .prev, .next{
    margin-top: 50px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

  .encabezado{
    font-size: 20px;
    margin-left: 15%;
  }
  .encab{
    margin-top: -3%;
  }
  .encabezadoverde{
  padding-top: 7px;
  }

#nav_slide .dots{
	width: 12px;
	height: 12px;
}


.titulo{
  width: 45%; 
  margin: 20px auto;
}

.title{
  font-size: 18px;
  font-weight: 400;
}

.linea{
  height: 3px;
}
.linea2{
  border-top: none;
  height: 3px;
  margin-bottom: 0%;
}


.perfiles{
  width: 90%;
  margin: 0px 5%;
  /* margin-bottom: 50px; */
}

.perfil{
  width: 30%;
  float: left;
  margin: 10px 35px 35px 35px;
  height: 160px;
}
.perfil .nombre{
  font-size: 13px;
}
.perfil button{
  font-size: 11px;
  width: 80%;
  margin: 12px 10%;
}
.perfil button:hover{
  color: red;
}


}
