@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);



.back-gray{
  background-color: #fff;
  position: absolute;
  z-index: 100;
  height: 1000px;
  top: 0%;
  width: 100%;
}

.back-gray .fa-solid{
  float: left;
  margin-top: 25px;
  color: gray;
  font-size: 40px;
}

.nav{
  height: 100px;
  background-color: #ECECEC;
}

/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
  width: 5%;
  float: right;
  padding-top: 7px;
}
.logoFILC{
  float: right;
	width: 12%;
  padding: 18px 0px 0px 20px;
  margin-right: 30px;
}

.logoCam img{
	width: 100%;
}
.logoFILC img{
	width: 100%;
	margin-right: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/





.img{
  position: absolute;
  width: 5%;
  margin-left: 80px;
  margin-top: 10px;
}
.img img{
  border-radius: 50%;
  width: 100%;
}
.texto{
  position: absolute;
  margin-top: 35px;
  padding-left: 180px;
}
.texto p{
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}








/* @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300); */

.foto img{
  width: 55%;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: 78px;
}

.foto{
  /* background-image: linear-gradient(to top,rgba(10, 40, 0, 0) 0%, rgba(19, 230, 8, 0) 100%), url('../../../../assets/img/Perfil/Recursocopy7.png'); */
  background-size: cover;
  height: 295px;
  background-color: #024d1b;
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.white{
  background-color: #fff;
  border-top-left-radius: 25px;
  height: 1100px;
  border-top-right-radius: 25px;
}

.main-menu:hover,nav.main-menu.expanded {
  /* ANCHO A MODIFICAR */
width:300px;
overflow:visible;
}

.main-menu {
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
background-color: #137834;
bottom:0;
height:100%;
left:0;
/* ancho para hacerle desaparecer */
width: 0px;
overflow:hidden;
-webkit-transition:width .1s linear;
transition:width .1s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:500;
}

.main-menu>ul {
margin:0px 0;
}

.main-menu li {
position:relative;
display:block;

/* ANCHO A MODIFICAR */
width:300px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
text-align: center;
width:300px;
color: #000;
padding: 30px 0px 5px 8px;
font-size: 14px;
font-weight: bolder;
font-family: 'Montserrat', sans-serif;
}

.categoria{
  color: #1A7712;
  font-size: 12px;
  padding-left: 115px;
  padding-bottom: 7px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.titu{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 100%;
  padding-top: 12px;
}

.datos-centro .dat{
  width: 80%;
  border-bottom: 2px solid #000;
  margin: 0 10%;
  padding-bottom: 10px;
}
.dat-telefono{height: 70px;}
.dat-celular{height: 70px;}
.dat-direccion{height: 70px;}
.dat-correo{height: 80px;}
.dat-pagina{height: 50px;}

.conten{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  /* background-color: red; */
  width: 100%;
  border-bottom: 1px dotted #000;
  right: 0px;
  padding-top: 7px;
}

.has-subnav{
  border-bottom: 2px solid #000;
  margin-top: 10px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

/* a:hover,a:focus {
text-decoration:none;
} */

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Englebert';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


.boton button{
  margin: 8% 10%;
  background-color: #1A7712;
  width: 80%;
  border-radius: 15px;
  border: none;
  font-family: 'Englebert';
  color: #fff;
  border: none;
  font-size: 25px;
}










.contenido{
  width: 80%;
  /* background-color: blue; */
  margin: 6% 10%;
  position: absolute;
  z-index: 200;
}

.titulos h3{
  font-size: 30px;
  letter-spacing: 0.5mm;
  font-family: 'Englebert';
  margin-bottom: 30px;
}
.titulos .der{
  width: 20%;
  cursor: pointer;
  float: right;
}
.titulos .izq {
  float: left;
  width: 40%;
}

table{
  /* background-color: ; */
  width: 100%;
}
th{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: 0.2px solid #000;
  padding: 10px;
  /* background-color: #fff; */
}
td {
  text-align: center;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: 0.1px solid #000;
  /* background-color: #fff; */
}
.informacion .imagen{ width: 15%; padding: 15px; }
.informacion .imagen img{ width: 100%; }

.resaltado{
  color: #FAD64C;
}

.precio { font-size: 15px;}








/* --------------------FORMULARIO---------------------------- */
/* ---------------------------------------------------------- */
.close{
  color: #3c9e07;
  position: absolute;
  z-index: 1100;
}

.close i{
  font-size: 25px;
  margin: 22px 0px 0px 1033px;
  border-radius: 50%;
  background-color: #fff;
}

.danger {
  /* Por defecto tiene este */
  background-color: #00000090;
}

.err {
  visibility: hidden;
}

.Pues_el_formulario{
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  /* visibility: hidden; */
}

/* FORMULARIO =================================== */

.form_wrap{
  height: 680px;
  margin: 10px auto;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 40%;
  /* mantenerlo blanco */
  background-color: #ffffff;
}

/* Informacion de Contacto*/

.img-perfil{width: 50%;}
.img-perfil img {
  border-radius: 50%;
  margin: 0 40%;
  border: 7px solid #fff;
  padding: 5px;
  width: 100%;
}
.cantact_info::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: #262e3692;
  opacity: 0.5;
}

.cantact_info{
  width: 38%;
  position: relative;
  background-image: linear-gradient(to top,rgba(10, 40, 0, 0) 0%, rgba(19, 230, 8, 0) 100%), url('../../../../assets/img/Perfil/marialaura-gionfriddo-50G3FvyQxX0-unsplash.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;

}

.info_title{
  position: relative;
  z-index: 2;
  margin-top: -40px;
  color: #fff;
}

.info_title{
  margin-bottom: 60px;
}

.info_title h2{
  font-size: 20px;
  margin-top: 40px;
  padding: 15px;
  font-family: 'Englebert';
  text-align: center;
  color: #000;
  background-color: #fff;
}

.info{
text-align: center;
background-color: #fff;
width: 100%;
position: relative;
z-index: 2;
}

.info p{
  font-size: 10px;
  font-weight: 800;
  padding: 10px 0px;
  font-family: 'Montserrat', sans-serif;
}



/* Formulario de contacto*/

form.agendar-cita{
  width: 62%;
  padding: 0px 20px;
}

.agendar-cita h2{
  font-size: 20px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

/* segunda parte */

.cita_info{
  text-align: center;
    display: flex;
    flex-direction: column;
}
.cita_info h1{
  font-family: 'Montserrat', sans-serif;
  color: #1A7712;
  font-size: 18px;
  padding-top: 20px;
}
.cita_info .des {font-family: 'Montserrat', sans-serif; font-size: 12px; padding: 10px 15px;}

.col-5{
  width: 80%;
  margin: 0 10%;
  text-align: left;
}
.col-5 label{font-family:'Montserrat', sans-serif; font-size: 12px; }
.col-5 div { margin-bottom: 5px; }
.txtbox, .descripcion textarea{
    width: 100%;
    padding: 5px 5px 0px 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    background-color: #d9d9d9;
}
.select{
  background-color: #d9d9d9;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 7px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.option{
  background-color: #d9d9d9;
  padding: 7px;
}

.col-5 .izq, .der {
  width: 45%;
  float: left; }
.col-5 .izq { margin-right: 10%; }


.is-invalid{
  color: #9e0707;
  border: 2px solid #9e0707;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.opc{
  font-size: 12px;
  margin: 2px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  padding: 3px;
}


.opc input{
  width: 10px;
  margin-right: 8px;
}

.column50{
  float: left;
  margin-right: 30px;
}

.fecha input{
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  padding: 7px;
  font-size: 15px;
}

.enviar{
  text-align: center;
  text-align: right;
  width: 50%;  margin: 0 25%;
  padding-top: 15px;
}

.enviar button{
  padding: 10px 40px;
	background: #1A7712;
	border: none;
  font-family: 'Englebert';
  letter-spacing: 0.5mm;
	border-radius: 20px;
  width: 100%;
  color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.btn-invalid{
  background-color: #647360;
  color: #dddddd;
  font-weight: 800;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
}

.box{
  width: 40%;
  margin: 0 30%;
  margin-bottom: 30px;
}
