<div class="contenedor">
  <br><br><br>
  <br><br><br>
  <br><br><br>
  
  <p class="buscando">Buscando: <small> {{ termino }} </small></p>
  <!-- <hr> -->
  
  <br>
  <div *ngIf="libros.length === 0">
    <small class="no-hay">No existen resultados para: <b class="termino">{{ termino }}</b> </small>
  </div>

  <div class="card" *ngFor="let libro of libros">

    <img [src]="libro.img" [alt]="libro.nombre" class="img-tamaño">

    <div class="container">

      <h4 class="titulo">
        <b>{{ libro.titulo }}</b>
      </h4>

      <p class="texto">{{ libro.descripcion }}</p>
      <p>
        <small class="texto-secundario">{{ libro.autor_nombre }}</small>
      </p>

      <button type="button" class="btn-ver-mas">
        Ver más...
      </button>
  
  
    </div>
  
  </div>
</div>
