h1{
  margin-bottom: 5px;
}

.contenedor{
  margin-bottom: 200px;
  width: 80%;
  margin: 0 auto;
}

.contenedor .buscando {
  font-family: 'Englebert';
  font-size: 35px;
  border-bottom: 2px solid #fbd606;
}

.no-hay{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.termino{
  font-size: 18px;
  padding-left: 10px;
}

.card{
  width: 20%;
  border: 1px solid gray;
  margin: 10px 10px;
  float: left;
}

.card img{
  width: 100%;
  height: 100px;
}

.container {
  padding: 2px 16px;
}

.container .titulo{
  text-align: center;
}

.container .texto-secundario{
  color: grey;
}

.img-tamaño {
  width: 100%;
}
