@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');


.container{
  margin-top: 9%;
  width: 100%;
}

/* ENGLEBERT */
#i1, #i2, #i3, #i4, #i5{ display: none;}



/*-------------------BUSCADOR INICIO-----------------------*/
/*---------------------------------------------------------*/
.contenidoBuscar{
  width: 40%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;
  margin: 0 40%;
}

.buscar{
  padding: 19px;
  position: absolute;
  z-index: 100;
  margin-top: 33px;
  background-color: #EEEEEE;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 88%;
  border: none;
}

.buscadorverde{
  background-color: #439F41;
  width: 100%;
  border-radius: 12px;
  z-index: 80;
  height: 46px;
  margin-left: 0 30%;
  text-align: right;
  margin-top: 33px;
  color: #fff;
  font-size: 28px;
  padding-right: 17px;
  padding-top: 8px;
}
/*-------------------BUSCADOR FIN-----------------------*/
/*------------------------------------------------------*/




/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
		position: relative;
		width: 100%;
    /* margin-bottom: 32%; */
	  /* user-select: none; */
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

.contenido-img{
  margin-bottom: 33%;
}

.eventos{
	margin-top: 0px;
	margin-bottom: 150px;
}

ul{
	list-style: none;
	text-align: center;
}


/* TITULO */
.titulo{
  width: 55%;
  margin: 0px auto;
	margin-top: 0px;
	margin-bottom: 20px;
}

.resaltado{
  color: #FAD64C;
}

.title{
  font-family: 'Englebert';
  letter-spacing: 0.3mm;
  font-size: 30px;
  font-weight: 500;
	border-bottom: 4px solid #fbd606;
}
.title i{
	font-size: 25px;
}

.linea{
  background-color: #fbd606;
  width: 94%;
  margin: 0%;
  height: 4px;
}
.linea2{
  background-color: #fbd606;
  width: 45%;
  border-top: 2px solid #fbd606;
  margin: 0%;
  height: 4px;
  margin-bottom: 3%;
}





.err {
	display: none;
}

.descripcion{
	width: 40%;
	margin: 2% auto;
}
.descripcion p{
	text-align: center;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}




/* IMAGENES */
.imagenes{
	background-color: red;
	padding: 15px 0px 15px 0px;
}
.caja{
  display: flex;
	float: left;
  justify-content: center;
	width: 391px;
}
.box{
	/* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  width: 391px;
  height: 300px;
	margin: 10px;
  background: #CCC;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.imagen-light{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
}

.show{
  /*muestra una imagen*/
  transform: translate(0);
}

.showImage{
  /*esto oculta la imagen*/
  transform: scale(1);
}


.close{
  /*la posicion es absoluta a su ancestro*/
  position: absolute;
  top: 15px; 
  right: 15px;
  cursor: pointer;
  color: #fff;
}


.agregar-imagen{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 3%;
  transform: scale(0);
  transition: transform .3s .2s;
}




.contenedor {
  width: 80%;
	margin: 0 10%;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}












/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1440px){
	.contenidoBuscar{
		width: 40%;
		position: absolute;
		z-index: 100;
		margin-top: 1%;
		margin: 0 40%;
	}
	
	.buscar{
		padding: 20px;
		width: 85%;
		border: none;
	}
	
	.buscadorverde{
		padding-right: 21px;
		padding-top: 10px;
	}

	
.imagenes{
	width: 90%;
	margin: 0 5%;
}
.imagenes .foto {
	width: 28%;
	margin: 30px;
	float: left;
	height: 400px;
}
	
	}
	
	
	/* Escritorio grande */
	@media only screen and (min-width: 992px) and (max-width: 1199px){
		.contenidoBuscar{
			width: 40%;
			position: absolute;
			z-index: 100;
			margin-top: 1%;
			margin: 0 40%;
		}
		
		.buscar{
			padding: 12px;
			width: 85%;
			border: none;
		}
		
		.buscadorverde{
			padding-right: 12px;
			padding-top: 7px;
			height: 33px;
		}
	
		.encabezado{
			font-size: 38px;
		}
	
		
		.prev, .next{
			margin-top: 140px;
		}
		.next{right:40px;}
	
		
	.titulo{
		width: 60%;
		margin: 30px auto;
	}
	
	.title{
		font-size: 30px;
	}
	

.linea{
  width: 100%;
}

.descripcion{
	width: 55%;
	margin: 0 auto;
}

.eventos{
	margin-bottom: 0px;
}

/* IMAGENES */
.imagenes{
	width: 90%;
	margin: 0 5%;
}
.imagenes .foto {
	width: 30%;
	margin: 15px;
	height: 360px;
}
.imagenes .foto img{
	width: 100%;
}

	
		
	}
	
	/* Escritorio pequeño / tablet */
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.contenidoBuscar{
			width: 40%;
			position: absolute;
			z-index: 100;
			margin-top: 0%;
			margin: 0 30%;
		}
		
		.buscar{
			padding: 9px;
			width: 80%;
			border: none;
			margin-top: 3%;
		}
		
		.buscadorverde{
			padding-right: 18px;
			padding-top: 5px;
			height: 28px;
			font-size: 22px;
			margin-top: 3%;
		}
	
		.prev, .next{
			margin-top: 90px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 28px;
		}

			
	.titulo{
		width: 68%;
		margin: 20px auto;
	}
	
	.title{
		font-size: 25px;
	}
	

.linea{
  width: 100%;
}

.descripcion{
	width: 60%;
	margin: 0 auto;
}

.eventos{
	margin-bottom: 100px;
}

/* IMAGENES */
.imagenes{
	width: 90%;
	margin: 0 5%;
}
.imagenes .foto {
	width: 45%;
	margin: 5px;
	border: 10px solid #fff;
	height: 360px;
}
.imagenes .foto img{
	width: 100%;
}


	
	}
	
	/* Tablets y phablets */
	@media only screen and (min-width: 576px) and (max-width: 767px){
		.contenidoBuscar{
			width: 60%;
			margin: 1% 15%;
		}
	
		.buscar{
			padding: 7px;
			width: 80%;
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
			border: none;
			margin-top: 3%;
		}
		
		.buscadorverde{
			padding-right: 18px;
			padding-top: 5px;
			height: 25px;
			font-size: 22px;
			margin-top: 3%;
		}
	
		.prev, .next{
			margin-top: 70px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 22px;
			margin-left: 15%;
		}
	
		.linea{
			height: 3px;
		}
		.linea2{
			border-top: none;
			height: 3px;
			margin-bottom: 0%;
		}
		


					
	.titulo{
		width: 70%;
		margin: 20px auto;
	}
	
	.title{
		font-size: 19px;
	}
	

.linea{
  width: 100%;
}

.descripcion{
	width: 60%;
	margin: 0 auto;
}
.descripcion p{
	font-size: 12px;
}

.eventos{
	margin-bottom: 100px;
}

/* IMAGENES */
.imagenes{
	width: 90%;
	margin: 0 5%;
}
.imagenes .foto {
	width: 45%;
	margin:1px;
	border: 10px solid #fff;
	height: 250px;
}
.imagenes .foto img{
	width: 100%;
}


	}
	
	/* Teléfonos */
	@media only screen and (min-width: 320px) and (max-width: 575px){
	
		.contenidoBuscar{
			width: 40%;
			margin: 1% 52%;
		}
	
		.buscar, .buscadorverde{
			margin-top: -33%;
		}
	
		.buscar{
			padding: 5px 5px 5px 15px;
			width: 70%;
			border-top-left-radius: 7px;
			border-bottom-left-radius: 7px;
		}
		
		.buscadorverde{
			padding-right: 14px;
			padding-top: 4px;
			height: 22px;
			font-size: 17px;
		}
	
		.prev, .next{
			margin-top: 50px;
		}
		.next{right:40px;}
		label span{
			font-size: 50pt;
		}
	
		.encabezado{
			font-size: 20px;
			margin-left: 15%;
		}
		.encab{
			margin-top: -3%;
		}
		.encabezadoverde{
		padding-top: 7px;
		}
	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
	
	.linea{
		height: 3px;
	}
	.linea2{
		border-top: none;
		height: 3px;
		margin-bottom: 0%;
	}
	


				
.titulo{
	width: 82%;
	margin: 2px auto;
}

.title{
	font-size: 15px;
	font-weight: 700;
}


.linea{
width: 100%;
}

.descripcion{
width: 80%;
margin: 0 auto;
}
.descripcion p{
font-size: 11px;
padding: 10px;
}

.eventos{
margin-bottom: 70px;
}

/* IMAGENES */
.imagenes{
width: 90%;
margin: 0 5%;
}
.imagenes .foto {
width: 44%;
margin: 1px;
border: 10px solid #fff;
height: 180px;
}
.imagenes .foto img{
width: 100%;
}
	
	}
	